{% extends 'trading/base.html' %}

{% block content %}

<h1>{{title}}</h1>

    <div class="card">
        <img class="card-photo" src="../static/trading/img/boss.png">
        <h1 class="card-title">Иванов Иван<br>Управляющий Холдингом</h1>
        <div class="card-text">
            <p>15 лет опыта управления финансовыми отделами, управление стратегией, доходами и доходностью во всех командах компаний,
                включая продажи, развитие бизнеса и услуги.
            </p>
            <p>Разрабал и применил на практике собственную  стратегию продаж,
                с ежегодным приростом капитала более 20% </p>

        </div>
        <h2 class="card-subtitle">Мои навыки:</h2>
        <ul class="card-list">
            <li>Опыт руководящей работы 15 лет.</li>
            <li>Знание специфики рынка.</li>
            <li>Опыт взаимодействия с государственными структурами и органами власти.</li>
        </ul>
    </div>
    <div class="card">
        <img class="card-photo" src="../static/trading/img/HR.png">
        <h1 class="card-title">Попова Анастасия<br>HR-менеджер, Рекрутер</h1>
        <div class="card-text">
            <p>Опыт работы в международных и российских компаниях 7 лет. Разрабатывала стратегию управления, систему оценки и программу мотивации персонала,
                обеспечивала кадровое администрирование. Стремлюсь применить свои навыки рекрутинга в IT компании.
            </p>
            <p>За полгода ввела геймификацию в рабочие процессы.
                В результате эксперимента мотивация и производительность труда сотрудников повысилась на 40%</p>

        </div>
        <h2 class="card-subtitle">Мои навыки:</h2>
        <ul class="card-list">
            <li>Формирование HR стратегии и оптимизация структуры компании в соответствии со стратегическими целями бизнеса.</li>
            <li>Организация тимбилдинга от разработки концепции до воплощения.</li>
            <li>Разработка и внедрение Политик, Правил и Стандартов работы Компании, контроль исполнения.</li>
        </ul>
        <h2 class="card-subtitle">Мои контакты:</h2>
        <p>Телефон:<a href="tel:+37223334444">+37223334444</a></p>
        <p>E-mail:<a href="mailto:personal@molotok.com">personal@molotok.com</a></p>
    </div>
    <div class="card">
        <img class="card-photo" src="../static/trading/img/car.png">
        <h1 class="card-title">Петров Петр<br>Экспедитор</h1>
        <div class="card-text">
            <p>Стаж вождения с 2002 года. Права категории B,C. Хорошее знание ПДД.Безаварийный водительский стаж 20 лет. Знание устройства грузового автомобиля.
                Ремонт автомобиля при поломках. Опыт общения с администрациями компаний, логистика. Быстрое и четкое выполнение заданий руководства.
            </p>

        </div>
        <h2 class="card-subtitle">Мои навыки:</h2>
        <ul class="card-list">
            <li>Учет пробега, прохождение технического осмотра.</li>
            <li>Составление оптимального и безопасного маршрута.</li>
            <li>Предоставление отчетов по расходам на транспортное средство.</li>
        </ul>
        <h2 class="card-subtitle">Мои контакты:</h2>
        <p>Телефон:<a href="tel:+3777888333">+3777888333</a></p>
        <p>E-mail:<a href="mailto:forwarder@molotok.com">forwarder@molotok.com</a></p>
    </div>

{% endblock %}
