{% extends 'trading/base.html' %}

{% block content %}
<table class="table">
    <tr>
        <th>Номер</th>
        <th>Название продукта</th>
        <th>Сотрудник</th>
        <th>Дата</th>
        <th>Количество</th>
        <th>Цена товара</th>
    </tr>
    {% for p in deals %}
    <tr>
        <td>{{p.id}}</td>
        <td>{{p.goods}}</td>
        <td>{{p.employee}}</td>
        <td>{{p.time_create}}</td>
        <td>{{p.quantityGoods}}</td>
        <td>{{p.price}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
