{% extends 'trading/base.html' %}

{% block content %}
<br>
<h1>{{title}}</h1>

    <div class="content">
        <p>Компания Молоток </p>
        <p> Аренда строительной техники </p>
        <p>Строительство – очень трудозатратный процесс и строительная техника делает процесс намного проще.
            Однако не все могут позволить себе купить себе собственный автопогрузчик. Поэтому услуга по аренде строительной технике очень популярна. Беря Камаз в прокат, вам не надо волноваться о его ремонте,
            техническом обслуживании, сожженном топливе и прочем, вы платите лишь за время работы.</p>
        <p> ООО Строительный Холдинг «Молоток»  предлагает выгодные условия по аренде строительной технике в Красноярске и Красноярском крае.
            Среди преимущества нашей компании, можно выделить:</p>
        <ul>
            <li>Большой автопарк;</li>
            <li>Исправность и надежность машин;</li>
            <li>Высокая квалификация водителей;</li>
            <li>Выгодные цены при долгосрочном сотрудничестве.</li>
        </ul>
        <p>Наш автопарк:</p>
        <p>Грузоподъемная техника до 3 тонн</p>
        <div class="img-content">
            <img src="../static/trading/img/weight3ton.png" alt="Погрузчик 3 тонны" width="220" height="220">
            <img src="../static/trading/img/weight3ton1.png" alt="Погрузчик 3 тонны" width="220" height="220">
            <img src="../static/trading/img/weight3ton2.png" alt="Погрузчик 3 тонны" width="220" height="220">
        </div>
        <p>Многофункциональная универсальная спец техника "Bobcat" </p>
        <div class="img-content">
            <img src="../static/trading/img/bobcat1.png" alt="bobcat" width="220" height="220">
            <img src="../static/trading/img/bobcat2.png" alt="bobcat" width="220" height="220">
            <img src="../static/trading/img/bobcat3.png" alt="bobcat" width="220" height="220">
        </div>
        <p></p>
    </div>

{% endblock %}
