{% extends 'trading/base.html' %}

{% block content %}
<div class="office-page">
    <div class="private_office">
        <h1 class="private_office-title">Вход в личный кабинет</h1>
        <form method="POST">
            {% csrf_token %}
        <table>
            {{ loginForm }}
        </table>
        <input type="submit" class="form-button" value="Войти" >|<a href="register" class="form-link" > Регистрация</a>
        </form>
        {% if user.is_authenticated %}
        <a href="/logout" class="form-link-exit"> {{user}} Выход</a>
        {% endif %}
    </div>
</div>
{% endblock %}